@media (min-width: 935px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 0 100px;
    }

    .header {
        border: none;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .navigation button {
        display: block;
    }

    .home {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .home h2 {
        grid-column: 1 / -1;
    }

    .business {
        flex: 1;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 100px;
        text-align: left;
    }
}